[MASTER]
ignore=venv,.venv,build,dist,tests,backgammon/tests
jobs=0
persistent=yes

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    invalid-name,
    fixme

[FORMAT]
max-line-length=100
